@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/DungGeunMo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}